.login-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff; /* Adding background color for better contrast */
  margin-top: 200px;
}
.header{
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px; /* Rounded corners for inputs */
  border: 1px solid #ddd; /* Light border for inputs */
}

.btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s;
  margin-top: 10px;
}

.btn-login {
  background-color: #007bff; /* Blue color */
  color: white;
}

.btn-login:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.btn-register {
  background-color: #28a745; /* Green color */
  color: white;
}

.btn-register:hover {
  background-color: #218838; /* Darker green on hover */
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}
